* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

header {
    text-align: center;
}
h1 {
    color: #45a7ba;
    margin: 50px;
}
h2 {

}
h3 {

}

nav li {
    display: inline;
    margin: 10px;
}
nav a {
    color: #666263;
    text-decoration: none;
}

.color-box {
    width: 100px;
    height: 75px
}
#primary-color-box {
    background-color: #45a7ba;
}
#secondary-color-box {
    background-color: #fcba03;
}
#tertiary-color-box {
    background-color: #666263;
}
