
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,500;1,300;1,500&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

header {
    text-align: center;
}
h1 {
    color: #45a7ba;
    font-family: 'Bitter', serif;
    font-size: 3em;
    font-weight: 300;
    margin: 50px 0;
}
h2 {
    color: #45a7ba;
    font-family: 'Bitter', serif;
    font-size: 2.2em;
    font-weight: 300;
    margin: 75px 0 50px 0;
}
h3 {
    color: #666263;
    font-family: 'Bitter', serif;
    font-size: 1.6em;
    font-weight: 500;
    margin: 60px 0 20px 0;
}
p {
    color: #666263;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin: 10px 0;
}
a {
    color: #fcba03;
    font-family: 'PT Sans', sans-serif;
}
.italic {
    font-style: italic;
}
nav li {
    display: inline;
    margin: 10px;
}
nav a {
    font-size: 1.1em;
    text-decoration: none;
}

main {
    margin: 30px 20%;
}
section {
    display: block;
    margin: 20px;
}
section > div {
    margin: 35px 0;
}
.menu-back {
    
}
.color > div {
    display: inline-block;
    vertical-align: top;
/*    height: 100px;*/
    margin: 10px;
}
.color-box {
    float: left;
    text-align: center;
    line-height: 100px;
    width: 100px;
    padding: 0;
    border-radius: 100%;
}
.color-box p {
    color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.color-text {
    box-sizing: border-box;
    width: 75%;
    margin: 5px 20px;
    padding-top: 15px;
}
#primary-color-box {
    background-color: #45a7ba;
}
#secondary-color-box {
    background-color: #fcba03;
}
#tertiary-color-box {
    background-color: #666263;
}

/*** Fonts Section ***/
.font-label {
    margin: 20px 0 5px 0;
}
.font-example {
    font-size: 1.3em;
    margin: 5px 0 20px 0;
}
.serif-regular {
    font-family: 'Bitter', serif;
    font-weight: 300;
}
.serif-bold {
    font-family: 'Bitter', serif;
    font-weight: 500;
}
.sans-regular {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
.sans-bold {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
/*** Elements Sectioin ***/
code {
    background-color: #eee;
    border: 1px solid #666263;
    display: block;
    padding: 20px;
}
#h1-example {
    border: 1px solid #45a7ba;
    color: #45a7ba;
    padding: 50px;
}